.banner .swiper {
    width: 240px;
    height: 320px;
  }
  
  .banner .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
  .banner .swiper-slide:nth-child(1n) {
    background-image:  url('../assets/banner-books/1691717717515.jpg');
  }
  
  .banner .swiper-slide:nth-child(2n) {
    background-image: url('../assets/banner-books/advanced-python-programming-for-mu-sem-2-f-y-b-sc-computer-original-imaghy2qkn8wrc8b.jpg');
  }
  
  .banner .swiper-slide:nth-child(3n) {
    background-image: url('../assets/banner-books/images.jpg');
  }
  
  .banner .swiper-slide:nth-child(4n) {
    background-image: url('../assets/banner-books/fgf.jpg');
  }
  
  .banner .swiper-slide:nth-child(5n) {
    background-image: url('../assets/banner-books/rrt.jpg');
  }
  
  .banner .swiper-slide:nth-child(6n) {
    background-image: url('../assets/banner-books/N5946.jpg');
  }
  